.chess{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
table{
    border-collapse: collapse;
    width: 60%;
    position: relative;
}
td{
    width: 90px;
    height: 90px;
    border: 1px solid #000;
}
tr:nth-child(odd) td:nth-child(2n),
tr:nth-child(even) td:nth-child(odd){
    background-color: #0f7017;
}