<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python</title>
</head>
<body>
    <h1>Python</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus excepturi, similique quas dolor quia ab alias ut nam sequi! Autem aut quasi voluptatibus tempore placeat! Hic et inventore excepturi corporis.</p>
    <a href="/crud">Acessar o Crud</a>
    <br>
    <a href="/a">Amanda</a>

</body>
</html>